{% extends "layout.html" %}

{% block heading %}
    Home
{% endblock %}

{% block body %}

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <form action="{{url_for('signup')}}">
                <button class="btn btn-secondary">Register</button>
            </form>
        </li>
        <li class="nav-item">
            <form action="{{url_for('login')}}">
                <button class="btn btn-secondary">Login</button>
            </form> 
        </li>
    </ul>



{% endblock %}